.app.dark {
    /* background-color: #ff0000; */
    color: rgb(156, 156, 156);
    min-height: 110vh;
    width: 102%;
    margin: 0;
    padding: 0;
    background-image: url("https://lh3.googleusercontent.com/1NMbGJNeO4JoVkzQEZdHQJ_9WJ7_UejG_u-bW8PWoff1376cmRSkVHOQqTpcQAIDUV_wHbjIoEOnhHzzy6scl4HawA=w640-h400-e365-rj-sc0x00ffffff");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 1500px;
  height: 00%;

  
    .chartGrid {
      stroke: rgba(228, 228, 228, 0.219);
    }
  
    .table {
      background-color: #111;
  
      .tableCell {
        color: gray;
      }
    }
  
    .navbar {
      color: #999;
      border-color: #333;

      .search {
        border-color: gray;
      }
    }
  
    .sidebar {
      background-color: #000000;
      background-image: url("https://lh3.googleusercontent.com/1NMbGJNeO4JoVkzQEZdHQJ_9WJ7_UejG_u-bW8PWoff1376cmRSkVHOQqTpcQAIDUV_wHbjIoEOnhHzzy6scl4HawA=w640-h400-e365-rj-sc0x00ffffff");
      /* filter: blur(3px); */
      /* -webkit-filter: blur(7px); */
      /* backdrop-filter: blur(35px); */

      border-color: #333;
      .top {
        .logo {
          color: #999;
        }
      }
      hr {
        border-color: #333;
      }
  
      ul {
        li {
          &:hover {
            background-color: #333;
          }
  
          .icon {
            color: #999;
          }
        }
      }
    }
  
    .datatable {
      .datagrid {
        color: gray;
        border: none;
  
        .viewButton,
        .deleteButton,
        .cellWithStatus {
          color: gray;
          border: none;
        }
      }
    }
  
    input{
        background-color: transparent;
    }
  }