.navbar {
    height: 30px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    color: #555;
    min-height: 10vh;
    margin-top: -2%;
  
    .wrapper {
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      margin-top: 1%;
      margin-bottom: 2.5%;

  #echrili{
font-size: 160%;
font-family:Arial, Helvetica, sans-serif;
color: rgb(255, 0, 0);
font-weight: bold;
margin-top: 2%;
margin-left: -1%;
  }
  .h{
    margin-top: 10%;
  }
      .search {
        border: 0.5px solid lightgray;
        padding: 1px;
        margin-left:30%;
        border-radius: 1.25rem;
        margin-top: 2%;
        height: 40px;
        width: 20%;
        input {
          border: none;
          outline: none;
          background: transparent;
  
          &::placeholder {
            font-size: 12px;
          }
        }
      }   
    }
  }