/* Base styles */
h1{
  margin-top: -43%;
}
/* body {
    font-family: 'Arial', sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 20px;
  } */
  
  h1 {
    text-align: center;
    color: #382538;
  }
  
  table {
    width: 80%;
    border-collapse: collapse;
    margin: 25px 0;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left:15%;

  }
  
  
  /* Header styles */
  thead th {
    background-color: #7e035f;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 15px;
    cursor: pointer;
  }
  
  /* Hover effect for headers */
  thead th:hover {
    background-color: #666;
  }
  
  /* Body styles */
  tbody td {
    padding: 15px;
    text-align: center;
    position: relative;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  /* Hover effect for cells */
  tbody td:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
  }
  
  /* Zebra striping for rows */
  tbody tr:nth-child(odd) {
    background-color: #eee;
  }
  
  /* Image styles */
  img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  /* Hover effect for images */
  img:hover {
    transform: rotate(360deg);
  }
  
  /* Input styles */
  input[type='text'] {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    width: calc(100% - 24px);
  }
  
  /* Icon container styles */
  .hiba {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Icon styles */
  .icon-save, .icon-delete {
    font-size: 1.5em;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
  
  }
  
  /* Hover effect for icons */
  .icon-save:hover {
    color: #27ae60;
    
    transform: scale(1.2);
  }
  
  .icon-delete:hover {
    color: #e74c3c;
    transform: scale(1.2);
  }
  
  /* Animation for the table rows */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  tbody tr {
    animation: fadeIn 0.5s ease-in-out;
  }
  
