.log {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #85bfdc 0%, #9599E2 100%);
  }
  
  .big-div {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 30%;
  }
  
 .log label {
    display: block;
    margin-bottom: 20px;
    color: white;
  }
  
  .log label p {
    margin: 0;
    padding-bottom: 5px;
  }
  
  .log input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.75);
    transition: background-color 0.3s ease;
  }
  
  .log input:focus {
    background-color: rgba(255, 255, 255, 0.95);
  }
  
  .log .login-button, .change-view-Home {
    width: 50%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background: #120c7d;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-left: 25%;
  }
  
  .log .login-button:hover, .change-view-Home:hover {
    transform: translateY(-3px);
  }
  
  .log .change-view-Home {
    background: transparent;
    text-decoration: underline;
  }
  

  