
.users-container h1{
  margin-top: -48%;

}

.users-container table {
  width: 80%;
    border-collapse: collapse;
    margin: 25px 0;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left:15%;
  }

  /* Style table header */
  .users-container th {
    background-color: #7e035f;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 15px;
    cursor: pointer;
  }
  
  /* Style table cells */
 .users-container td {
  padding: 15px;
  text-align: center;
  position: relative;
  transition: background-color 0.3s, transform 0.3s;
  }
  
  /* Style table actions buttons */
  .users-container button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: #8a0452;
    color: white;
    margin-left: 40%;
  }
  
  .users-container button:hover {
    background-color: #055337;
  }
  
  /* Style the table actions buttons container */
  .users-container td:last-child {
    display: flex;
  }
  
  /* Add margin between action buttons */
  .users-container button + button {
    margin-left: 5px;
  }
  
  .search-container {
    margin-bottom: 20px;
    
}

#user-search {
    width: 10%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 45%;
}

/* Style even and odd rows */
.users-container tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Light gray */
}

.users-container tbody tr:nth-child(odd) {
  background-color: white; /* White */
}
